# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista1 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9,10 ]

In [2]:
print (lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = ["Arana", "Nana", "Anara", "Raul", "Neusa"]

In [5]:
print (lista2)

['Arana', 'Nana', 'Anara', 'Raul', 'Neusa']

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
a = "Anara"
r = "Raul"

In [7]:
f = a + " Malaika e " + r + " Virgulino"

In [8]:
print (f)

Anara Malaika e Raul Virgulino

In [9]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla1= ( 1, 2, 2, 3, 4, 4, 4, 5)

In [10]:
tupla1.count (4)

3

In [11]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
diciovazio = {}
print (diciovazio)

{}

In [12]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
idades = {"Arana":31, "Anara":4, "Raul":1.2}
print (idades)

{'Arana': 31, 'Anara': 4, 'Raul': 1.2}

In [14]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tel
idades["Neusa"]= 64 
idades

{'Arana': 31, 'Anara': 4, 'Raul': 1.2, 'Neusa': 64}

In [16]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
idades = {"Arana":31, "Anara":[3,4], "Raul":1.2}
idades

{'Arana': 31, 'Anara': [3, 4], 'Raul': 1.2}

In [27]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
idades1 = ["Arana",(3,4), {"Raul":1,"Hoje":2}, 64.4]
idades1

['Arana', (3, 4), {'Raul': 1, 'Hoje': 2}, 64.4]

In [28]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase [0:18]

'Cientista de Dados'

Obs: Antes de achar que o resultado acima está errado, reflita junto comigo:
Em uma corrida ou maratona quem sobre ao podium? Aqueles que ficam nas posições 1, 2 e 3, certo? Existe posição zero? Não! Pois bem!
O exercício acima pede os caracteres nas posições de 1 a 18 (não existe posição zero). Em Python, a indexação (que representa o índice) começa por zero. Logo, posições de 1 a 18 estão nos índices de 0 a 18 (pois 18 é exclusivo e portanto temos de 0 a 17, logo 18 posições).


# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>